# Ignore everything by default
/*

# Keep these folders (without recursion first)
!/alacritty/
!/fish/
!/hypr/
!/i3/
!/i3blocks/
!/kitty/
!/neofetch/
!/waybar/

# Keep this single file
!/starship.toml

# Keep gitignore itself
!/.gitignore

